<!DOCTYPE html>
<html lang="en">
  <body>
      <footer id="footer">
          <span>Super Messages "Members-Only" App by <a href="https://github.com/andrewtran28/members-forum">minglee</a>; Passwords are encrypted using <a href="https://www.npmjs.com/package/bcryptjs">bcryptjs</a>; This site uses cookies to save login credentials (1 Day)
      </footer>
  </body>
</html>