<!DOCTYPE html>
<html lang="en">
  <body>
    <header>
      <div>[LOGO GOES HERE]</div>
      <div>
        <% if (currentUser) { %>
        <span>Welcome, <%= currentUser.username %></span>
        <% } else { %>
        <a href="/signup"><button>Sign-Up</button></a>
        Already have an account? <a href="/login">Sign-In</a>
        <% } %>
      </div>
    </header>
  </body>
</html>
