<!DOCTYPE html>
<html lang="en">
  <body>
    <header>
      <div>[LOGO GOES HERE]</div>
      <div>
        <a href="/sign-up"><button>Sign-Up</button></a> 
        Already have an account? <button>Sign-In</button>
      </div>
    </header>
  </body>
</html>
