<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error 404</title>
    <link rel="stylesheet" href="/styles.css" />
    <link rel="icon" type="image/x-icon" href="/game.png" />
  </head>
  <body>
    <br />
    <main>
      <h1>Error 404: Page Not Found</h1>
      <h2 class="errorText">
        Uh oh...Looks like this page doesn't exist or is under construction.
      </h2>
      <br />
    </main>
    <hr />
    <a href="/" class="return">Return to homepage</a>
  </body>
</html>
