<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1>User Login</h1>
    <% if (typeof error !== "undefined" && error) { %>
    <p class="error"><%= error %></p>
    <% } %>
    <form action="/login" method="POST">
      <div>
        <label for="username">Username: </label>
        <input id="username" name="username" type="text" required />
      </div>
      <div>
        <label for="password">Password: </label>
        <input id="password" name="password" type="password" required />
      </div>
      <button type="submit">Log In</button>
    </form>
    <br />
    Don't have an account? <a href="/signup">Sign-up</a>
    <br />
    <a href="/">Return to home page</a>
  </body>
</html>
