<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Sign-Up</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1>Sign Up</h1>
    <form action="" method="POST">
      <label for="username">Username: </label>
      <input
        id="username"
        name="username"
        type="text"
        maxLength="25"
        required
      />
      <%- include('partials/customErrors', {errors: errors, selector:
      'username'}) %>
      <label for="password">Password: </label>
      <input
        id="password"
        name="password"
        type="password"
        maxLength="50"
        required
      />
      <%- include('partials/customErrors', {errors: errors, selector:
      'password'}) %>
      <br />
      <label for="firstName">First Name: </label>
      <input
        id="first-name"
        name="firstName"
        type="text"
        maxlength="25"
        required
      />
      <%- include('partials/customErrors', {errors: errors, selector:
      'firstName'}) %>
      <label for="lastName">Last Name: </label>
      <input
        id="last-name"
        name="lastName"
        type="text"
        maxLength="25"
        required
      />
      <%- include('partials/customErrors', {errors: errors, selector:
      'lastName'}) %>
      <br />
      <br />
      <label for="superMember">Super Membership Passcode: </label>
      <input
        id="super-member"
        name="superMember"
        autocomplete="off"
        maxLength="25"
        placeholder="Enter the passphrase to become a super member"
      />
      <br />
      <br />
      <button>Sign Up</button>
    </form>
    <hr />
    <a href="/">Return to home page</a>
  </body>
</html>
