@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

body {
  --header: #171717;
  --background: #312622;
  --main: #333333;
  --item: #4a4a4a;
  --text: #dadada;
  --text-gray: #a1a1a1;
  --text-hover: #dab35a;
  --header-text: #FFD369;
  --footer: #352F44;
  --super: #fc003f;
  
  background-color: var(--background);
  color: var(--text);
  font-family: 'Geist', Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

a {
  color: var(--header-text);
}
a:visited {
  color: var(--header-text);
}

button {
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.2rem;
  margin: 5px 0;
}

.btn-green {
  background-color: #51a036;
  padding: 10px 50px;
}
.btn-green:hover {
  background-color: #458d2d;
  color: var(--text-hover);
}
.btn-green:active {
  background-color: #377024;
}

.btn-danger {
  background-color: var(--super);
}
.btn-danger:hover {
  background-color: #da0036;
  color: var(--text-hover);
}
.btn-danger:active {
  background-color: #b4002d;
}

.delete {
  padding: 5px 10px;
  font-size: 1rem;
}

label, input {
  font-size: 1.5rem;
  min-width: 300px;
  vertical-align: center;
}

#passphrase {
  min-width: 500px;
}

h1 {
  color: var(--header-text);
}

#header {
  background-color: var(--header);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  font-weight: 600;

}

#logo {
  display: flex;
  align-items: center;
  margin: 0 40px;
  height: 100px;
}

.header-right {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin: 0 40px;
}

.super-member {
  font-size: 1rem;
  font-style: oblique;
  color: var(--super);
}

main {
  background-color: var(--main);
  max-width: 1200px;
  width: 100%;
  margin: 0 20px;
  /* min-height should be (100vh - height of header + footer in pixels) */
  min-height: calc(100vh - (120px + 40px));
}

.message-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
}

.messages-cont {
  max-width: 1200px;
  margin: 0 10px;
}

.msg-side button {
  border: 1px solid var(--super);
  width: 75px;
}

.message {
  background-color: var(--item);
  border-radius: 5px;
  display: flex;
  min-height: 150px;
  padding: 15px;
  margin: 15px;
}

.guest {
  font-style: oblique;
  color: #b5b5b5;
}

.msg-side {
  display: flex;
  flex-direction: column;
}

.msg-left-cont {
  border-right: 1px solid var(--text);
  margin-right: 10px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 200px;
}

.msg-username {
  color: var(--header-text);
  font-size: 1.25rem;
  font-weight: 600;
}

.msg-fullname {
  color: var(--super);
}

.msg-id {
  color: var(--super);
  font-size: 1rem;
  font-style: oblique;
}

.msg-right-cont{
  display: flex;
  flex-direction: column;
  flex: 2 1 0;
  position: relative;
}

.msg-subject {
  color: var(--header-text);
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.msg-timestamp {
  color: var(--text-gray);
  font-size: 1rem;
  font-style: oblique;
  position: absolute;
  right: 5px;
}

.error {
  color: var(--super);
  font-size: 1.15rem;
  font-weight: 600;
}

.page-cont {
  margin: 20px;
  place-self: center;
}

.cont {
  background-color: var(--item);
  margin: 20px 0;
  padding: 5px 20px 30px 20px;
  font-size: 1.5rem;
  width: 100%;
}

.message-text {
  font-size: 1.25rem;
  width: 600px;
  height: 300px;
}

#footer {
  background-color: var(--header);
  color: var(--text-gray);
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 5px 0;
  font-size: 1rem;
  align-items: center;
  height: 30px;
}